<section class="container ipo-simple" aria-label="блок главное о компании">
    <div class="ipo-simple__main-part">
        <div class="ipo-simple__info">
            <div class="ipo-simple__texts">
                <span  class="lh20-8">Все виды сделок с недвижимостью</span>
                <h1 class="h1">Ипотека Просто</h1>
                <p>Эксперт в области кредитования <br>и инвестирования</p>
            </div>
            <ul class="ipo-simple__ul">
                <div class="ipo-simple__ul-col">
                    <li class="lh20-8"><img loading="lazy" src="../images/icon__check.svg" alt="иконка чека для пункта">Подбор новостроек</li>
                    <li class="lh20-8"><img loading="lazy" src="../images/icon__check.svg" alt="иконка чека для пункта">Рефинансирование</li>
                </div>
                <div class="ipo-simple__ul-col">
                    <li class="lh20-8"><img loading="lazy" src="../images/icon__check.svg" alt="иконка чека для пункта">Одобрение ипотеки под низкие ставки</li>
                    <li class="lh20-8"><img loading="lazy" src="../images/icon__check.svg" alt="иконка чека для пункта">Кредитование бизнеса</li>
                </div>
            </ul>
            <button class="btn btn--red">Получить консультацию</button>
        </div>
        <img loading="lazy" class="ipo-simple__svg-1" src="../images/vector-1.svg">
        <img loading="lazy" class="ipo-simple__women-img" src="../images/img__women-1.webp" alt="фото сотрудниц компании">
    </div>
    <div class="ipo-simple__additional">
        <div class="item">
            <p class="red-color">1-3 дня</p>
            <p class="lh20-8">Одобрим ипотеку или подберем новостройку по вашим пожеланиям.</p>
        </div>
        <div class="item">
            <p class="red-color">98% одобрения кредита</p>
            <p class="lh20-8">Наших клиентов получили положительное решение по кредитованию</p>
        </div>
        <div class="item">
            <p class="red-color">Без аванса и переплат</p>
            <p class="lh20-8">Оплата после одобрения. Сопровождение сделок при покупке недвижимости бесплатно.</p>
        </div>
        <div class="item">
            <p class="red-color">1000 + клиентов</p>
            <p class="lh20-8">Получили кредит и оформили ипотеку по минимальным ставкам с нашей помощью.</p>
        </div>
    </div>
</section>