<section class="container services" aria-label="блок о преимуществах компании">
    <h2 class="h2">Полный спектр услуг</h2>
    <p class="h2--extra">От подбора недвижимости мечты до получения ключей</p>
    <div class="content services__cards" aria-label="блок с карточками">
        <div class="services__card" tabindex="0" aria-label="карточка преимущества компании">
            <img loading="lazy" class="services__card-img" src="../images/img__services-1.webp" alt="изображение к карточке сервиса">
            <div class="services__card-info">
                <p class="lh20-8">Помощь в получении ипотеки</p>
                <a class="arrow-link" href="#">Подробнее<img loading="lazy" src="../images/icon__link-arrow.svg" alt="иконка стрелочки у ссылки" aria-label="ссылка на подробности"></a>
            </div>
        </div>
        <div class="services__card" tabindex="0" aria-label="карточка преимущества компании">
            <img loading="lazy" class="services__card-img" src="../images/img__services-2.webp" alt="изображение к карточке сервиса">
            <div class="services__card-info">
                <p class="lh20-8">Подбор новостроек</p>
                <a class="arrow-link" href="#">Подробнее<img loading="lazy" src="../images/icon__link-arrow.svg" alt="иконка стрелочки у ссылки" aria-label="ссылка на подробности"></a>
            </div>
        </div>
        <div class="services__card" tabindex="0" aria-label="карточка преимущества компании">
            <img loading="lazy" class="services__card-img" src="../images/img__services-3.webp" alt="изображение к карточке сервиса">
            <div class="services__card-info">
                <p class="lh20-8">Подбор новостроек</p>
                <a class="arrow-link" href="#">Подробнее<img loading="lazy" src="../images/icon__link-arrow.svg" alt="иконка стрелочки у ссылки" aria-label="ссылка на подробности"></a>
            </div>
        </div>
        <div class="services__card" tabindex="0" aria-label="карточка преимущества компании">
            <img loading="lazy" class="services__card-img" src="../images/img__services-4.webp" alt="изображение к карточке сервиса">
            <div class="services__card-info">
                <p class="lh20-8">Рефинансирование кредитов</p>
                <a class="arrow-link" href="#">Подробнее<img loading="lazy" src="../images/icon__link-arrow.svg" alt="иконка стрелочки у ссылки" aria-label="ссылка на подробности"></a>
            </div>
        </div>
        <div class="services__card" tabindex="0" aria-label="карточка преимущества компании">
            <img loading="lazy" class="services__card-img" src="../images/img__services-5.webp" alt="изображение к карточке сервиса">
            <div class="services__card-info">
                <p class="lh20-8">Кредит под залог недвижимости</p>
                <a class="arrow-link" href="#">Подробнее<img loading="lazy" src="../images/icon__link-arrow.svg" alt="иконка стрелочки у ссылки" aria-label="ссылка на подробности"></a>
            </div>
        </div>
        <div class="services__card" tabindex="0" aria-label="карточка преимущества компании">
            <img loading="lazy" class="services__card-img" src="../images/img__services-6.webp" alt="изображение к карточке сервиса">
            <div class="services__card-info">
                <p class="lh20-8">Инвестиции в недвижимость</p>
                <a class="arrow-link" href="#">Подробнее<img loading="lazy" src="../images/icon__link-arrow.svg" alt="иконка стрелочки у ссылки" aria-label="ссылка на подробности"></a>
            </div>
        </div>
    </div>
</section>