<section class="container helping" aria-label="блок с отзывами о компании">
    <h2 class="h2">Помогаем даже в самых сложных ситуациях</h2>
    <p class="h2--extra"><span class="red-color">98%</span> наших клиентов получили одобрение</p>
    <div class="content helping__reviews">
        <div class="helping__review" aria-label="карточка отзыва">
            <div class="helping__review-main">
                <div class="helping__author">
                    <img loading="lazy" src="../images/img__avatar-1.webp" alt="аватар пользователя">
                    <div class="helping__author-texts">
                        <p>Данил</p>
                        <p class="lh20-8">Цель: покупка дома <br>на вторичном рынке</p>
                    </div>
                </div>
                <ul class="helping__ul">
                    <li class="lh20-8"><span></span>Ранее получены 3 отказа в банках</li>
                    <li class="lh20-8"><span></span>Система налогообложения ЕНВД с 0 декларациями</li>
                    <li class="lh20-8"><span></span>Стаж ИП 1 год</li>
                    <li class="lh20-8"><span></span>Покупка дома у родственников</li>
                    <li class="lh20-8"><span></span>Отсутствие кредитной истории</li>
                    <li class="lh20-8"><span></span>Отсутствие военного билета</li>
                </ul>
            </div>
            <div class="helping__review-additional">
                <div class="helping__additional-info">
                    <p class="helping__additional-h">Результат</p>
                    <p class="helping__additional-result lh20-8">Получено одобрение на покупку дома с ЗУ</p>
                    <div class="helping__additional-punktes">
                        <p class="lh20-8">Срок:<span class="red-color">2 дня</span></p>
                        <p class="lh20-8">Ставка:<span class="red-color">10,5%</span></p>
                        <p class="lh20-8">Сумма кредита: <span class="red-color">2 300 000руб.</span></p>
                    </div>
                </div>
                <a class="arrow-link" href="#">Больше кейсов<img loading="lazy" src="../images/icon__link-arrow.svg" alt="иконка стрелочки у ссылки" aria-label="ссылка на подробности"></a>
            </div>
        </div>

        <div class="helping__review helping__closed" aria-label="карточка отзыва">
            <div class="helping__review-main">
                <div class="helping__author">
                    <img loading="lazy" src="../images/img__avatar-2.webp" alt="аватар пользователя">
                    <div class="helping__author-texts">
                        <p>Наталья</p>
                        <p class="lh20-8">Цель: рефинансирование ипотеки, <br>оформленной на супруга</p>
                    </div>
                </div>
                <ul class="helping__ul">
                    <li class="lh20-8"><span></span>Действующая ипотека под ставку 14,75%, оформленная ранее на супруга</li>
                    <li class="lh20-8"><span></span>Муж был без дохода и с отрицательной кредитной историей, есть просрочки по текущей ипотеке</li>
                    <li class="lh20-8"><span></span>Помимо действующей ипотеки дополнительно ежемесячные платежи по другим кредитам: 39 000 руб.</li>
                    <li class="lh20-8"><span></span>Доход супруги: 52 000 руб.</li>
                </ul>
            </div>
            <div class="helping__review-additional">
                <div class="helping__additional-info">
                    <p class="helping__additional-h">Результат</p>
                    <p class="helping__additional-result lh20-8">Получено одобрение на покупку дома с ЗУ</p>
                    <div class="helping__additional-punktes">
                        <p class="lh20-8">Срок:<span class="red-color">1 день</span></p>
                        <p class="lh20-8">Ставка:<span class="red-color">9,75%</span></p>
                        <p class="lh20-8">Сумма кредита: <span class="red-color">2 100 000руб.</span></p>
                    </div>
                </div>
                <a class="arrow-link" href="#">Больше кейсов<img loading="lazy" src="../images/icon__link-arrow.svg" alt="иконка стрелочки у ссылки" aria-label="ссылка на подробности"></a>
            </div>
        </div>

        <div class="helping__review helping__closed" aria-label="карточка отзыва">
            <div class="helping__review-main">
                <div class="helping__author">
                    <img loading="lazy" src="../images/img__avatar-3.webp" alt="аватар пользователя">
                    <div class="helping__author-texts">
                        <p>Екатерина</p>
                        <p class="lh20-8">Цель: покупка квартиры <br>на вторичном рынке</p>
                    </div>
                </div>
                <ul class="helping__ul">
                    <li class="lh20-8"><span></span>Ранее получены 7 отказов в банках</li>
                    <li class="lh20-8"><span></span>Отрицательная кредитная история (возврат кредита через суд) за 1 мес. до обращения</li>
                    <li class="lh20-8"><span></span>Минимальный доход</li>
                    <li class="lh20-8"><span></span>Отсутствие первоначального взноса</li>
                    <li class="lh20-8"><span></span>У супруга текущие задолженности перед банками</li>
                </ul>
            </div>
            <div class="helping__review-additional">
                <div class="helping__additional-info">
                    <p class="helping__additional-h">Результат</p>
                    <p class="helping__additional-result lh20-8">Одобрена ипотека без первоначального взноса</p>
                    <div class="helping__additional-punktes">
                        <p class="lh20-8">Срок:<span class="red-color">3 дня</span></p>
                        <p class="lh20-8">Сумма ипотеки: <span class="red-color">2 500 000руб.</span></p>
                    </div>
                </div>
                <a class="arrow-link" href="#">Больше кейсов<img loading="lazy" src="../images/icon__link-arrow.svg" alt="иконка стрелочки у ссылки" aria-label="ссылка на подробности"></a>
            </div>
        </div>
    </div>
</section>