    <footer class="container footer">
        <div class="__logo-block">
            <a href="index.html">
                <img loading="lazy" src="../images/header-logo.webp" alt="logo">
            </a>
            <div class="header__hr"></div>
            <p class="header__text-expert">Эксперт в области <br>ипотечного кредитования</p>
        </div>
        <div class="content footer__links">
            <div class="footer__navs">
                <nav class="footer__nav">
                    <p class="footer__nav-name lh20-8">Услуги</p>
                    <a class="link" href="#">Помощь в одобрении ипотеки</a>
                    <a class="link" href="#">Сопровождение сделок</a>
                    <a class="link" href="#">Подбор новостроек</a>
                    <a class="link" href="#">Рефинансирование</a>
                    <a class="link" href="#">Кредиты бизнесу</a>
                    <a class="link" href="#">Инвестиции в недвижимость</a>
                </nav>
                <nav class="footer__nav">
                    <p class="footer__nav-name lh20-8">О компании</p>
                    <a class="link" href="#">О нас</a>
                    <a class="link" href="#">Вакансии</a>
                    <a class="link" href="#">Блог</a>
                    <a class="link" href="#">Сотрудничество</a>
                    <a class="link" href="#">Кейсы и отзывы</a>
                    <a class="link" href="#">Контакты</a>
                </nav>
            </div>
            <nav class="footer__nav footer__contacts">
                <p class="footer__nav-name lh20-8">Контакты</p>
                <div class="footer__work-time">
                    <p>8 -800 -000 00-00</p>
                    <p>Ежедневно с 09-00 до 21-00</p>
                </div>
                <div class="footer__email">
                    <p>Электронная почта</p>
                    <p>info@domen.ru</p>
                </div>
            </nav>
        </div>
        <div class="content footer__info">
            <div class="footer__info-main">
                <p class="footer__copyright">@ 2013 — 2023 ООО “Ипотека просто”| Все права защищены</p>
                <div class="footer__info-links">
                    <a href="#">Политика конфиденциальности</a>
                    <a href="#">Пользовательское соглашение</a>
                </div>
            </div>
            <p class="footer__dev">Разработка сайта: <a href="#">business-up</a></p>
        </div>
    </footer>
</body>
</html>