<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.min.css">
    <script src="js/index.min.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="container header">
            <div class="header__header-top">
                <div class="__logo-block">
                    <a href="index.html">
                        <img loading="lazy" src="../images/header-logo.webp" alt="logo">
                    </a>
                    <div class="header__hr"></div>
                    <p class="header__text-expert">Эксперт в области <br>ипотечного кредитования</p>
                    <div class="header__location">
                        <img loading="lazy" src="../images/icon__location.svg" alt="">
                        <p>Москва</p>
                    </div>
                </div>
                <div class="header__header-contacts __header-contacts">
                    <div class="header__info">
                        <div class="info__item">
                            <img loading="lazy" src="../images/icon__phone.svg" alt="">
                            <p>8 (800) 000-00-00</p>
                        </div>
                        <div class="info__item">
                            <img loading="lazy" src="../images/icon__clock.svg" alt="">
                            <p>Ежедневно с 09-00 до 21-00</p>
                        </div>
                    </div>
                    <div class="header__socials--block __socials--block">
                        <button class="btn socials__btn" aria-label="кнопка со ссылкой на телеграм">
                            <svg width="23" height="19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.354 8.15s9.765-4.113 13.152-5.562C15.804 2.01 20.207.155 20.207.155s2.032-.81 1.863 1.159c-.056.811-.508 3.65-.96 6.72-.677 4.345-1.41 9.095-1.41 9.095s-.114 1.332-1.073 1.564c-.96.232-2.54-.81-2.823-1.043-.226-.173-4.233-2.78-5.7-4.055-.396-.347-.848-1.042.056-1.854a218.235 218.235 0 005.927-5.793c.677-.695 1.354-2.317-1.468-.347-4.008 2.838-7.96 5.503-7.96 5.503s-.902.58-2.596.058C2.37 10.641.394 9.946.394 9.946s-1.355-.87.96-1.796z" fill="#D72537"/></svg>
                        </button>
                        <button class="btn socials__btn" aria-label="кнопка со ссылкой на ватсап">
                            <svg width="24" height="25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 24.111l1.722-6.402A11.84 11.84 0 014.919 2.505 11.891 11.891 0 0120.447 3.51a11.844 11.844 0 011.206 15.488 11.895 11.895 0 01-15.186 3.388L0 24.112zm6.78-4.121l.4.237a9.613 9.613 0 0011.626-1.413A9.577 9.577 0 0020.41 7.232a9.595 9.595 0 00-4.634-4.091A9.614 9.614 0 004.46 6.147a9.573 9.573 0 00-1.984 5.85 9.463 9.463 0 001.403 4.967l.25.413-.962 3.574 3.613-.961z" fill="#D72537"/></svg>
                        </button>
                    </div>
                    <button class="btn header__request-btn">
                        Бесплатная консультация
                    </button>
                </div>
                <button class="header__burger-btn" aria-label="иконка открытия бургер меню">
                    <img loading="lazy" src="../images/burger-btn.svg" alt="иконка бургер меню">
                </button>
            </div>
            <div class="header__nav-block">
                <nav class="header__nav">
                    <div class="header__link nav-link__additional">О компании  
                        <img loading="lazy" src="../images/arrow-down.svg" alt="">
                        <div class="additional dnone">
                            <a href="#">Link</a>
                            <a href="#">Link</a>
                            <a href="#">Link</a>
                            <a href="#">Link</a>
                            <a href="#">Link</a>
                            <a href="#">Link</a>
                        </div>
                    </div>
                    <a class="header__link" href="#">Блог</a>
                    <div class="header__link nav-link__additional">Ипотека 
                        <img loading="lazy" src="../images/arrow-down.svg" alt="">
                        <div class="additional dnone">
                            <a href="#">Link</a>
                            <a href="#">Link</a>
                            <a href="#">Link</a>
                            <a href="#">Link</a>
                            <a href="#">Link</a>
                            <a href="#">Link</a>
                        </div>
                    </div>
                    <a class="header__link" href="#">Подбор новостроек</a>
                    <a class="header__link" href="#">Рефинансирование</a>
                    <a class="header__link" href="#">Кредиты бизнесу</a>
                    <a class="header__link" href="#">Инвестиции</a>
                    <a class="header__link" href="#">Кейсы и отзывы</a>
                    <a class="header__link" href="#">Контакты</a>
                </nav>
            </div>
        </div>
    </header>
    <section class="header__menu header--adapted" aria-hidden="true">
        <div class="__logo-block">
            <a href="index.html">
                <img loading="lazy" src="../images/header-logo.webp" alt="logo">
            </a>
            <div class="header__hr"></div>
            <p class="header__text-expert">Эксперт в области <br>ипотечного кредитования</p>
            <div class="header__location">
                <img loading="lazy" src="../images/icon__location.svg" alt="">
                <p>Москва</p>
            </div>
        </div>
        <div class="header__nav-block">
            <nav class="header__nav">
                <div class="header__link header__link-add">О компании  
                    <img loading="lazy" src="../images/arrow-down.svg" alt="">
                    <div class="additional">
                        <a href="#">Link</a>
                        <a href="#">Link</a>
                        <a href="#">Link</a>
                        <a href="#">Link</a>
                        <a href="#">Link</a>
                        <a href="#">Link</a>
                    </div>
                </div>
                <a class="header__link" href="#">Блог</a>
                <div class="header__link header__link-add">Ипотека 
                    <img loading="lazy" src="../images/arrow-down.svg" alt="">
                    <div class="additional">
                        <a href="#">Link</a>
                        <a href="#">Link</a>
                        <a href="#">Link</a>
                        <a href="#">Link</a>
                        <a href="#">Link</a>
                        <a href="#">Link</a>
                    </div>
                </div>
                <a class="header__link" href="#">Подбор новостроек</a>
                <a class="header__link" href="#">Рефинансирование</a>
                <a class="header__link" href="#">Кредиты бизнесу</a>
                <a class="header__link" href="#">Инвестиции</a>
                <a class="header__link" href="#">Кейсы и отзывы</a>
                <a class="header__link" href="#">Контакты</a>
            </nav>
        </div>
        <div class="header__header-contacts __header-contacts">
            <div class="header__contacts-all">
                <div class="header__socials--block __socials--block">
                    <button class="btn socials__btn" aria-label="кнопка со ссылкой на телеграм">
                        <svg width="23" height="19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.354 8.15s9.765-4.113 13.152-5.562C15.804 2.01 20.207.155 20.207.155s2.032-.81 1.863 1.159c-.056.811-.508 3.65-.96 6.72-.677 4.345-1.41 9.095-1.41 9.095s-.114 1.332-1.073 1.564c-.96.232-2.54-.81-2.823-1.043-.226-.173-4.233-2.78-5.7-4.055-.396-.347-.848-1.042.056-1.854a218.235 218.235 0 005.927-5.793c.677-.695 1.354-2.317-1.468-.347-4.008 2.838-7.96 5.503-7.96 5.503s-.902.58-2.596.058C2.37 10.641.394 9.946.394 9.946s-1.355-.87.96-1.796z" fill="#D72537"/></svg>
                    </button>
                    <button class="btn socials__btn" aria-label="кнопка со ссылкой на ватсап">
                        <svg width="24" height="25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 24.111l1.722-6.402A11.84 11.84 0 014.919 2.505 11.891 11.891 0 0120.447 3.51a11.844 11.844 0 011.206 15.488 11.895 11.895 0 01-15.186 3.388L0 24.112zm6.78-4.121l.4.237a9.613 9.613 0 0011.626-1.413A9.577 9.577 0 0020.41 7.232a9.595 9.595 0 00-4.634-4.091A9.614 9.614 0 004.46 6.147a9.573 9.573 0 00-1.984 5.85 9.463 9.463 0 001.403 4.967l.25.413-.962 3.574 3.613-.961z" fill="#D72537"/></svg>
                    </button>
                </div>
                <button class="btn header__request-btn">
                    Бесплатная консультация
                </button>
            </div>
            <div class="header__info">
                <div class="info__item">
                    <img loading="lazy" src="../images/icon__phone.svg" alt="">
                    <p>8 (800) 000-00-00</p>
                </div>
                <div class="info__item">
                    <img loading="lazy" src="../images/icon__clock.svg" alt="">
                    <p>Ежедневно с 09-00 до 21-00</p>
                </div>
            </div>
        </div>
        <button class="burger__cross" aria-label="кнопка закрытия меню хедера">
            <img loading="lazy" src="../images/cross.svg" alt="крестик закрытия меню">
        </button>
    </section>